
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  /* Tonos Verdes de Identidad */
  --color-primario: #4a6b51;        /* Verde musgo cálido (Inicial Logo) */
  --color-primario-oscuro: #1e3a27;   /* Verde pino oscuro (Borde Nav) */
  --color-primario-claro: #8fa87a;    /* Verde salvia claro (Hovers) */
  --color-texto-links: #556b2f;       /* Verde oliva oscuro (Enlaces) */
  
  
  /* Tonos Neutros y Fondos */
  --color-fondo-nav: #f7f9f6;         
  --color-fondo-app: #f3f5f2;         /* Fondo general de la pantalla */
  --color-texto-oscuro: #2c352e;      /* Texto principal (Casi negro) */
  --color-texto-mutado: #606c62;      /* Gris verdoso apagado para detalles */
  --color-blanco: #ffffff;
  
  /* Tipografías */
  --fuente-cuerpo: 'Inter', system-ui, -apple-system, sans-serif;
  --fuente-titulos: 'Georgia', serif;
}


body {
  background-color: var(--color-fondo-app);
  color: var(--color-texto-oscuro);
  font-family: var(--fuente-cuerpo); 
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--fuente-titulos);
  color: var(--color-primario-oscuro);
  margin-bottom: 1rem;
  font-weight: normal;
}


a {
  color: var(--color-texto-links);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-primario-claro);
}

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}